:root {
	--x:14;
}

body {
	background-color: #CCD6E0;
}

.card {
	background-color: #EFEFEFA8;
}

.calendar {
	display: grid;
	grid-template-columns: auto repeat(var(--x), minmax(20px,80px));
}

.calendar-item {
	border: thin solid lightgrey;
}

.calendar-item-sunday {
	border: thin solid lightgrey;
	background-color: #FDD0D0;
}
.calendar-item-saturday {
	border: thin solid lightgrey;
	background-color: #E0E0E0;
}

.calendar-item,.calendar-item-sunday,.calendar-item-saturday, .dates {
	text-align: center;
	font-size: 0.9em;
}

.calendar-item-sunday .sunday {
	color: red;
}

.calendar-item .names {
	text-align: left;
	margin: 0px 10px 0px 2px;
	text-decoration: none;
	font-size: 0.9em;
}

.activity {
	margin: 3px 1px;
	text-decoration: none;
	color: black;
	font-size: 0.8em;
}
