.calendar {
	--x: 14;
	display: grid;
	grid-template-columns: auto repeat(var(--x), minmax(20px,80px));
	background-color: #FFFFFF20;
}

.calendar-item, .calendar-item-saturday, .calendar-item-sunday, .calendar-item-today,
	.calendar-header, .calendar-header-weekend , .calendar-header-today{
	border: thin solid #06060660;
	color: var(--color-text);
	font-size: 0.9em;
	text-align: center;

}


.calendar-header {
	background-color: rgba(var(--color-bg-dark),0.7);
}

.calendar-header-weekend {
	background-color: rgba(var(--color-bg-dark),1);
}

.calendar-header-today {
	background-color: rgba(255,255,255,0.2);
}

.calendar-item {
	background-color: rgba(var(--color-bg-dark),0.2);
}

.calendar-item-saturday {
	background-color: rgba(var(--color-bg-dark),1);
}

.calendar-item-sunday {
	background-color: rgba(255,0,0,0.3);
}

.calendar-item-today {
	background-color: rgba(255,255,255,0.3);
}

.calendar-item .names {
	text-align: left;
	margin: 0px 10px 0px 2px;
	text-decoration: none;
	font-size: 0.9em;
}

.activity {
	margin: 3px 1px;
	text-decoration: none;
	color: black;
	font-size: 0.8em;
}
