.table-row{
cursor:pointer;
}

/* Rules for sizing the icon. */
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.red { color: #FB0000; }
.material-icons.white { color: #EEEEEE; }
.material-icons.green { color: #00FF00; }
.material-icons.black { color: #000000; }

.material-icons {vertical-align: middle;}

/* Badge circle */
.badge-pill.circle {
	width: 2.6em;
	height: 2.6em;
	line-height: 2.1;
	border-radius: 50%;
}